name: Node.js Package Lint And Test

on:
  push:
    branches:
      - "*"
      - "!master"
  pull_request:
    branches:
      - "*"

jobs:
  lint-and-test:
    name: Test on node ${{ matrix.node-version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [12, 13]
        os: [ubuntu-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v2.1.2
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm ci
      - run: npm run lint
      - run: npm run build --if-present
      - run: npm test
